# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.cache

# VS Code
.vs/
.vscode/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet
*.nupkg
project.lock.json
project.fragment.lock.json

# OS
Thumbs.db
.DS_Store
